body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: #66bfd3;
}

.calendar-container{
    background-color: #f0f2f3;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0, .3);
    overflow: hidden;
}

.moth-name{
    margin: 0;
    background-color: #e93d3d;
    color: #f0f2f3;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.day-name{
    font-size: 20px;
   color: #a9a9a9;
}

.day-number{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.year{
    margin: 20px 0;
    font-size: 20px;
    color: #a9a9a9;
    font-weight: 500;
}